<mat-grid-list cols="5" rowHeight="50">
        <mat-grid-tile>
            <p>Toollord</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Tenenant</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Amount (ETH)</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>End Date<p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Vote</p>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <mat-grid-list cols="5" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>6 Ether</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 23.06.2019  <p>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary">Vote</button>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="5" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
            12.4.2019
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary">Vote</button>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="5" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
             13.12.2019
        </mat-grid-tile>
        <mat-grid-tile>
                <button mat-raised-button color="primary">Vote</button>
        </mat-grid-tile>
    </mat-grid-list>