<div class="example-container">
    <input type="text"  placeholder="lendingPrice" [(ngModel)]="AddTool.lendingPrice" style="width: 380px;margin:12px"/>
    <input type="text"  placeholder="depoPricee" [(ngModel)]="AddTool.depoPricee" style="width: 380px;margin:12px"/>
    <input type="text"  placeholder="Name" [(ngModel)]="AddTool.name" style="width: 380px;margin:12px"/>
    <input type="text"  placeholder="descriptipon" [(ngModel)]="AddTool.descriptipon" style="width: 380px;margin:12px"/>
    <button mat-raised-button color="primary" (click)="onAddClick()">Add</button>
  </div>
<mat-grid-list cols="7" rowHeight="50">
    <mat-grid-tile>
        <p>Owner</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>LendingPrice</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>DepoPrice</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Name</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Descriptipon</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Lend</p>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="7" rowHeight="50" style="background-color:white" *ngFor="let yoloTool of Tools"> 
        <mat-grid-tile>
            <p>{{yoloTool.Owner}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>{{yoloTool.lendingPrice}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>{{yoloTool.DepoPrice}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>{{yoloTool.Name}}<p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>{{yoloTool.descriptipon}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="warn">returned</button>
        </mat-grid-tile>
    </mat-grid-list>
