<mat-grid-list cols="7" rowHeight="50">
    <mat-grid-tile>
        <p>Lender</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Lending</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>What</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Deposite Amount (ETH)<p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Start Date</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>End Date</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Returned</p>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="7" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
            <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Bohrmaschine</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>4.10.2016</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>12.12.2016</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="warn">returned</button>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
            <mat-grid-tile>
                <p>Alex</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>Ich</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>Bohrmaschine</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p> 6 Ether <p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>4.10.2016</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>12.12.2016</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="warn">returned</button>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
                <mat-grid-tile>
                    <p>Alex</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Ich</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Bohrmaschine</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p> 6 Ether <p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>4.10.2016</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>12.12.2016</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="warn">returned</button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
                    <mat-grid-tile>
                        <p>Alex</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>Ich</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>Bohrmaschine</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p> 6 Ether <p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>4.10.2016</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>12.12.2016</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">returned</button>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
                        <mat-grid-tile>
                            <p>Alex</p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <p>Ich</p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <p>Bohrmaschine</p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <p> 6 Ether <p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <p>4.10.2016</p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <p>12.12.2016</p>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <button mat-raised-button color="warn">returned</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
                            <mat-grid-tile>
                                <p>Alex</p>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <p>Ich</p>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <p>Bohrmaschine</p>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <p> 6 Ether <p>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <p>4.10.2016</p>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <p>12.12.2016</p>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <button mat-raised-button color="warn">returned</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
                                <mat-grid-tile>
                                    <p>Alex</p>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <p>Ich</p>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <p>Bohrmaschine</p>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <p> 6 Ether <p>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <p>4.10.2016</p>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <p>12.12.2016</p>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <button mat-raised-button color="warn">returned</button>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
                                    <mat-grid-tile>
                                        <p>Alex</p>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <p>Ich</p>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <p>Bohrmaschine</p>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <p> 6 Ether <p>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <p>4.10.2016</p>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <p>12.12.2016</p>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-raised-button color="warn">returned</button>
                                    </mat-grid-tile>
                                </mat-grid-list>