<h1>Open Contract - Tool is not Recvived Toollord yet</h1>
<mat-grid-list cols="7" rowHeight="50">
<mat-grid-tile>
<p>Toollord</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Tenenant</p>
</mat-grid-tile>
<mat-grid-tile>
<p>What</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Deposite Amount (ETH)<p>
</mat-grid-tile>
<mat-grid-tile>
<p>Start Date</p>
</mat-grid-tile>
<mat-grid-tile>
<p>End Date</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Action</p>
</mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="7" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<button mat-raised-button color="warn">Got It!</button>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<button mat-raised-button color="warn">Go It!</button>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<button mat-raised-button color="warn">Gave It!</button>
</mat-grid-tile>
</mat-grid-list>
<h1>Running Contracts</h1>
<mat-grid-list cols="7" rowHeight="50">
<mat-grid-tile>
<p>Toollord</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Tenenant</p>
</mat-grid-tile>
<mat-grid-tile>
<p>What</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Deposite Amount (ETH)<p>
</mat-grid-tile>
<mat-grid-tile>
<p>Start Date</p>
</mat-grid-tile>
<mat-grid-tile>
<p>End Date</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Returned</p>
</mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="7" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<button mat-raised-button color="warn">returned</button>
</mat-grid-tile>
</mat-grid-list>
<h1>Ready to Return Tools</h1>
<mat-grid-list cols="6" rowHeight="50">
        <mat-grid-tile>
        <p>Toollord</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Tenenant</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>What</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Deposite Amount (ETH)<p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Accept</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Complain</p>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <mat-grid-list cols="6" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Bohrmaschine</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary">Accept</button>
        </mat-grid-tile>
        <mat-grid-tile>
        <button mat-raised-button color="warn">Complain</button>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Bohrmaschine</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary">Accept</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="warn">Complain</button>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Bohrmaschine</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
                <button mat-raised-button color="primary">Accept</button>
        </mat-grid-tile>
        <mat-grid-tile>
                <button mat-raised-button color="warn">Complain</button>
        </mat-grid-tile>
        </mat-grid-list>
<h1>Contract that timne Run Out without Feedback of the Tenenant</h1>
<mat-grid-list cols="7" rowHeight="50">
        <mat-grid-tile>
        <p>Toollord</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Tenenant</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>What</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Deposite Amount (ETH)<p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Start Date</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>End Date</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Action</p>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Bohrmaschine</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>4.10.2016</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>12.12.2016</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <button mat-raised-button color="warn">Take Depoist</button>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Bohrmaschine</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>4.10.2016</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>12.12.2016</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <button mat-raised-button color="warn">Take Depoist</button>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="7" rowHeight="50" style="background-color:white">
        <mat-grid-tile>
        <p>Ich</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Alex</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>Bohrmaschine</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p> 6 Ether <p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>4.10.2016</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <p>12.12.2016</p>
        </mat-grid-tile>
        <mat-grid-tile>
        <button mat-raised-button color="warn">Take Depoist</button>
        </mat-grid-tile>
        </mat-grid-list>
<h1>Closed - Contract</h1>
<mat-grid-list cols="6" rowHeight="50">
<mat-grid-tile>
<p>Toollord</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Tenenant</p>
</mat-grid-tile>
<mat-grid-tile>
<p>What</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Deposite Amount (ETH)<p>
</mat-grid-tile>
<mat-grid-tile>
<p>Start Date</p>
</mat-grid-tile>
<mat-grid-tile>
<p>End Date</p>
</mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="6" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="50" style="background-color:white">
<mat-grid-tile>
<p>Alex</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Ich</p>
</mat-grid-tile>
<mat-grid-tile>
<p>Bohrmaschine</p>
</mat-grid-tile>
<mat-grid-tile>
<p> 6 Ether <p>
</mat-grid-tile>
<mat-grid-tile>
<p>4.10.2016</p>
</mat-grid-tile>
<mat-grid-tile>
<p>12.12.2016</p>
</mat-grid-tile>
</mat-grid-list>