<mat-grid-list cols="2" rowHeight="50">
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Vorname">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Nachname">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="E-Mail">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="ETH-Konto">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="primary">save</button>
    </mat-grid-tile>
  </mat-grid-list>