<div>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            Toollord
        </mat-grid-tile>
        <mat-grid-tile>
            Tenenat
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="onAddClick()" style="margin:5px">Vote For Landlord</button>    
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="onAddClick()" style="margin:5px">Vote For Tenenat</button>    
        </mat-grid-tile>
        <mat-grid-tile>
            17%
        </mat-grid-tile>
        <mat-grid-tile>
            83%
        </mat-grid-tile>
    </mat-grid-list>
</div>
      